{% load static %}
<form method="POST" id="formEditarLocales" novalidate>
    {% csrf_token %}
    <h2 class="custom_title"> Editar Local </h2>
    <input type="hidden" name="id" value="{{ local.idLocal }}">
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                
                <!-- Personalizado para mostrar errores del frontend -->
                {% if field.name == 'nombre' %}
                    <div class="input-error-message" id="error-id_nombre"></div><!--Errores de nombre desde el frontend-->
                {% elif field.name == 'nivel' %}
                    <div class="input-error-message" id="error-id_nivel"></div><!--Errores de nivel desde el frontend-->
                {% elif field.name == 'estado' %}
                    <div class="input-error-message" id="error-id_estado"></div><!--Errores de nivel desde el frontend-->
                {% endif %}

                {% if field.errors %}
                    <div class="error-text"> {{ field.errors|striptags }}</div><!--Errores del backend-->
                {% endif %}
            </div>
        {% endfor %}    
        {% if form.non_field_errors %}
            <div class="error-text">{{ form.non_field_errors|striptags }}</div>
        {% endif %}

    <div class="modal-actions">
        <button type="submit" class="btn-animated">Guardar Cambios</button>
        <button type="button" onclick="openDeleteModalLocal('modal')" class="btn-animated cancel"> Salir </button>
</form>