.boleta_detalle_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2.5rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    min-height: calc(100vh - 90px);
    margin-left: 240px;
    margin-right: 15px;
    margin-top: 10px;
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-19px); }
    to   { opacity: 1; transform: translateY(0);}
}

.flash-container {
    z-index: 500;
    position: fixed;
    left: 50%;
    top: 4px;
    transform: translateX(-50%);
    width: 100%;
    max-width: 340px;
    padding: 0 1rem;
    pointer-events: none;
}

.messages {
    pointer-events: auto;
}

.alert { 
    padding: 10px 4px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 0.95rem;
    margin-top: 8px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.alert.hide {
    opacity: 0;
    transform: translateY(-10px);
}

.alert.success { 
    background: #3926cd; 
    color: #fff;
}
.alert.error {
    background: #721c24; 
    color: #fff;
}

.info-section h2, .image-section h2 {
    margin-bottom: 10px;
    color: #263544;
}

.info-section h3 {
    margin-bottom: 10px;
}

.info-table {
    margin-top: 10px;
    width: 90%;
    border-collapse: collapse;
    border-radius: 18px;
    padding: 6px;

}

.info-table th {
    text-align: right;
    padding: 6px;
    background-color: #fafcff;
    width: 35%;
    font-weight: 550;
}

.info-table td {
    padding: 8px;  
    background-color: #fff;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #f9fafb;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ddd;
    position: relative;
}

.detalle-img {
    max-width: 62%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.acciones {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 15px;
}

.btn {
    display: inline-block;
    padding: 1rem 1.7rem;
    width: 140px;
    text-align: center;
}

.btns {
    display: inline-block;
    padding: 0.8rem 1.2rem;
    width: 120px;
    text-align: center;
    border: none;
}

.btn-conf-delete {
    background-color: #be0c02;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-conf-delete:hover {
    background-color: #910202;
    transform: scale(1.03);
}

.btn-conf-cancel {
    background-color: #383fff;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-conf-cancel:hover {
    background-color: #0b0bfd;
    transform: scale(1.03);
}


.btn-primary { 
    background-color: #2980b9;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #216994;
    transform: scale(1.04);
}

.btn-secondary {
    background-color: #7f8c8d;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-secondary:hover {
    background-color: #636e72;
    transform: scale(1.05);
}

.btn-outline-danger {
    background-color: #e90101;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-outline-danger:hover {
    background-color: #ce0303;
    transform: scale(1.05);
}

.btn-danger {
    background-color: #810303;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-danger:hover {
    background-color: #680303;
    transform: scale(1.05);
}


/* Controles Modal Zoom */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(0.8px);
}

.modal.hidden {
    display: none;
}

.modal-content {
    position: relative;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

.modal-content h3 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.image-container {
    overflow: hidden;
    max-width: 100%;
    max-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-container img {
    transition: transform 0.3s ease;
    max-width: 80%;
    max-height: 95vh;
    object-fit: contain;
    border-radius: 8px;
}

.emp-btn {
    position: absolute;
    bottom: 10px;
    left: 42%;
    padding: 0.7rem 1.2em;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
}

.emp-btn:hover {
    background-color: #3498db;
}

.controls {
    margin-top: 1rem;
}

.modal .close {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 2rem;
    cursor: pointer;
    color: #ada6a6;
    background: none;          /* Elimina el fondo */
    border: none;              /* Por si acaso */
    border-radius: 0;          /* Elimina el círculo */
    padding: 0;                /* Quita el relleno circular */
    z-index: 10;
    transition: color 0.3s ease;
}

.modal .close:hover {
    color: #565151; /* Cambia a un gris más claro u oscuro si lo prefieres */
}

.control-btn {
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.4s ease;
}

.control-btn:hover {
    background-color: #385068;
    transform: scale(1.04);
}

/*--- Info modal section ---*/
.info-button {
    background-color: #007bff;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: background 0.3s, transform 0.3s;
}

.info-button:hover {
    background-color: #306cac;
    transform: scale(1.04);
}

.info-modal {
    display: none;
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.9px);
}

.info-modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 650px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    position: relative;
    font-family: 'Segoe UI', sans-serif;
}

.info-modal .close {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.info-modal .close:hover {
    color: #000;
}


.modal-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-bloqueo {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.title-grand {
    font-size: 2rem;
    color: #d9524f;
    margin-bottom: 15px;
}

.btn-sandbox {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #0275d8;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn-sandbox:hover {
    background-color: #025aa5;
}

.modal-bloqueo h2 {
    font-size: 1.4rem;
    margin: 10px 0 5px 0;
}

.modal-bloqueo h3 {
    font-size: 1.1rem;
    color:#555;
}

