*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.asignaciones-container {
    background-color: white;
    border-radius: 6px;
    max-width: 1210px;
    margin: auto;
    padding: 25px;
    margin-top: 40px;
    margin-left: 275px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-18px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tabla-asignaciones {
    margin-top: 3px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.8s ease-in-out;
}

.tabla-asignaciones th {
    background-color: #4b3bfc;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.tabla-asignaciones thead th:first-child {
    border-top-left-radius: 12px;
}

.tabla-asignaciones thead th:last-child {
    border-top-right-radius: 12px;
}

.tabla-asignaciones tbody td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid white;
}

.tabla-asignaciones tbody tr:first-child {
    border-top-left-radius: 12px;
}

.tabla-asignaciones tbody tr:last-child {
    border-top-right-radius: 12px;
}

/* Zebra striping */
.tabla-asignaciones tbody tr:nth-child(even) {
    background-color: #f0f9ff;
}

.tabla-asignaciones tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Hover */
.tabla-asignaciones tbody tr:hover {
    background-color: #e0f2fe;

}

.btn {
    padding: 9px 15px;
    margin-top: 20px;
    background-color: #4b3bfc;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 1px;
    transition: background-color 0.4s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    padding: 8px 13px;
    border-radius: 6px;
}

.btn-danger:hover {
    background-color: #a71d2a;
}

/* Modal personalizado */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-contenido {
    background-color: #fff;
    margin: auto;
    padding: 25px;
    border-radius: 8px;
    width: 40%;
    position: relative;
}

.formulario {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.formulario label {
    width: 100px;
    text-align: right;
}

.formulario select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 60%;
    transition: border-color 0.3s ease;
}

.formulario select:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 2px rgba(0, 123, 255,0.3);
}

.formulario input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 60%;
    transition: border-color 0.3s ease;
}

.formulario input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 2px rgba(0, 123, 255,0.3);
}

.formulario button[type="submit"] {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.formulario button[type="submit"]:hover {
    background-color: #0056b3;
}

.cerrar {
    color: #1b5696;
    position: absolute;
    right: 12px;
    top: 5px;
    font-size: 24px;
    cursor: pointer;
}

.cerrar:hover {
    color: #031426;
}

#mensajes-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.mensaje {
    padding: 12px 20px;
    border-radius: 6px;
    margin-bottom: 10px;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    opacity: 0.9;
    transition: all 0.3s ease;
}

.mensaje.success { background-color: #33bc53; color: white; }
.mensaje.info { background-color: #933f35; color: white; }
.mensaje.error, .mensaje.danger { background-color: #dc3545; color: white; }
.mensaje.warning { background-color: #ffc107; color: white;}



#modal-confirmacion {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-confirmacion .modal-contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 15% auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

#modal-confirmacion .botones {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

#modal-confirmacion .botones .btn {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

#modal-confirmacion .btn {
    background-color: #007bff;
    color: white;
}

#modal-confirmacion .btn:hover {
    background-color: #0056b3;
    color: white;
}

#modal-confirmacion .danger {
    background-color: #dc3545;
    color: white;
}

#modal-confirmacion .danger:hover {
    background-color: #a71d2a;
}

