.visualizacion_negocios {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    border-radius: 6px;
}

.form-busqueda {
    display: flex;
    gap: 15px;
    margin-top: 20px;
} 

.form-busqueda input {
    width: 70%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
}

.form-busqueda button {
    background-color: #417690;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.btn-buscar:hover {
    background-color: #2a4d5c;
}

/* div de los resultados */
.resultados {
    margin-top: 30px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.tabla-negocios {
    margin-top: 10px;    
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

/* Cabecera */
.tabla-negocios thead th {
    background-color: #4b3bfc;
    color: #ecf9f8;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #cbd5e1;
}

/* Redondeo especifico para esquinas superiores */
.tabla-negocios thead th:first-child {
    border-top-left-radius: 12px;
}

.tabla-negocios thead th:last-child {
    border-top-right-radius: 12px;
}

/* Celdas del cuerpo */
.tabla-negocios td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
}

/* Ultima fila: redondeo inferior */
.tabla-negocios tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.tabla-negocios tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

/* Zebra striping */
.tabla-negocios tbody tr:nth-child(even) {
    background-color: #f0f9ff;
}
.tabla-negocios tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Hover */
.tabla-negocios tbody tr:hover {
    background-color: #e0f2fe;
    cursor: pointer;
}

/* Control del modal */
.hidden {
    display: none !important;
}

.modal{
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    height: calc(100% - 4rem);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px;
}

.modal-content-delete {
    background-color: white;
    padding: 1.25rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px;
}

.modal-content label {
    margin: 4px;
}

.modal-content input {
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 6px;
}

.modal-content select {
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 6px;
}

/* Diseno para mensajes de confirmacion */
.alert-container {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-40%);
    z-index: 9999;
    padding: 12px 24px;
    border-radius:10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    max-width: 70%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, top 0.4s ease;
}

.alert-container.show {
    opacity: 1;
    pointer-events: none;
    top: 10px;
}

.alert-container.success {
    background-color: #5050e6;
    color: #baf1ed;
    border: 1.5px solid #498b58;
}

.alert-container.error {
    background-color: #b22a35;
    color: #efe8e9;
    border: 1.5px solid #ed838d;
}

/* Burbuja de error en el input */
.input-error-message {
    color: #efdadc;
    background-color: #9a2e37;
    border: 1px solid #f5c6cb;
    padding: 6px 10px;
    margin-top: 5px;
    border-radius: 8px;
    font-size: 14px;
    display: none;
    font-weight: bold;
    animation: fadeIn 0.3s ease-in-out;
}

.input-error {
    border-color: #e3342f !important;
    background-color: #fff5f5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(2px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Diseno de los botones del form editar */

.btn-animated{
    background-color: #0984e3;
    margin-top: 12px;
    color: #fff;
    padding: 0.7rem 1.4rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
}

.btn-animated:hover{
    background-color: #74b9ff;
    transform: scale(1.03);
}

.modal-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.btn-animated.cancel {
    background-color:  #834b0b;
    color: #f2f4f5;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-animated.cancel:hover {
    background-color: #a97d7c;
    transform: scale(1.03);
}


/* Vibracion */

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-4px); }
    40% { transform: translateX(4px); }
    60% { transform: translateX(-4px); }
    80% { transform: translateX(4px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease-in-out;
}


/* Modal eliminar */
