# Entorno virtual
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# Variables de entorno
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Git
.git/
.gitignore
.gitattributes

# Pruebas
.coverage
.pytest_cache/
htmlcov/

# Documentación
*.md
docs/

# Otros
*.bak
*.tmp
*.orig
.editorconfig