# Entorno virtual
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/


# Archivos de configuración del entorno
.env
*.env
*.env.*


# Archivos de entorno
.env
*.env 
*.env.*


# Archivos de Python
__pycache__/
*.py[cod]


# Archivos de base de datos
*.sqlite3


# Archivos del sistema
.DS_Store
*.log


# VSCode
.vscode/
