<!-- _tabla_boletas.html -->
{% for boleta in boletas %}
<tr class="{% if not boleta.leido %}no-leido{% endif %}">
    <td class="remitente">{{ boleta.remitente }}</td>
    <td class="asunto">{{ boleta.asunto|default:"(sin asunto)" }}</td>
    <td class="fecha">{{ boleta.fecha_recepcion|date:"d/m/Y H:i" }}</td>
    <td class="estado">{% if boleta.es_valida %}
            Válido
        {% else %}
            No Válido
        {% endif %}</td>
    
    <td class="negocio">
        {% if boleta.metadata.negocio %}
            {{ boleta.metadata.negocio }}
        {% else %}
            <em>No detectado</em>
        {% endif %}
    </td>
    <td class="accion">
        <a href="{% url 'administracion:boleta_detalle' boleta.id %}" class="btn-small"> Ver</a>
    </td>
</tr>
{% empty %}
<tr><td colspan="6">No hay boletas en el sandbox todavía.</td></tr>
{% endfor %}
