{% extends "core/base.html" %}
{% load static %}


{% block page_title %} Administración de Boletas {% endblock %}

{% block title %}Administración de Boletas{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'administracion/css/admin_style.css' %}">
<script src="{% static 'administracion/js/admin_scripts.js' %}"> </script>

<div class="admin-container">
    <h1>Administración de Boletas</h1>

    <!-- Botón para revisar correos -->
        
    <div id="mensaje-correos" style="display:none;"></div>
    <button class="btn-primary" id="btn-revisar-correos">Revisar Correos</button>
        
    <!-- Tabla de correos procesados -->
    <div class="table-responsive">
        <table class="boleta-table">
            <thead>
                <tr>
                    <th>Remitente</th>
                    <th>Asunto</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Negocio Detectado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="tabla-boletas-body">
                {% include 'administracion/_tabla_boletas.html' %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
