{% extends 'core/base.html' %}
{% load static %}

{% block title %} Crear Negocio {% endblock %}

{% block page_title %} Creación de Negocios {% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'negocios/css/estilos_negocios.css' %}">
<script src="{% static 'negocios/js/main.js' %}"> </script>

<div class="main-content">
    <div class="main-negocio">
        <h3 class="form-description"> Formulario para la creación de nuevos negocios </h3>   
        
        <div class="form-wrapper">
            <form method="POST" class="styled-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                            {% if field.field.required %}
                                <span style="color: red;">*</span>
                            {% endif %}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="form-error">{{ field.errors }} </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn-animated"> Guardar Negocio </button>
            </form>
            <div class="required_fields">* Campo requerido</div>
        </div>
    </div>

    <!-- Botón flotante 1 -->
    <button id="open-modal-btn" class="floating-add-btn" title="Agregar Estado">+</button>
    <!-- Modal emergente -->
    <div id="estado-modal" class="estado-modal hidden">
        <form id="form-estado" method="POST" action="{% url 'negocios:crear_estado' %}">
            {% csrf_token %}
            <h3 class="modal-title"> Nuevo estado </h3>
            <div class="form-group-modal">
                <label for="{{ estado_form.nombre.id_for_label }}"> {{ estado_form.nombre.label }}</label>
                {{ estado_form.nombre }}
                {% if estado_form.nombre.errors %}
                    <div class="error"> {{ estado_form.nombre.errors }}</div>
                {% endif %}
            </div> 
            <div class="modal-actions">
                <button type="submit" class="btn-animated"> Guardar </button>
                <button type="button" id="cancel-modal-btn" class="btn-animated cancel"> Cancelar </button> 
            </div>
        </form>
    </div> 
    
    <!-- Botón flotante 2 -->
    <button id="open-modal-btn-categoria" class="floating-add-btn-categoria" title="Agregar Categoria">+</button>
    <!-- Modal emergente -->
    <div id="estado-modal-categoria" class="estado-modal-categoria hidden">
        <form id="form-categoria" method="POST" action="{% url 'negocios:crear_categoria' %}">
            {% csrf_token %}
            <h3 class="modal-title"> Nueva Categoría </h3>
            <div class="form-group-modal">
                <label for="{{ categoria_form.nombre.id_for_label }}"> {{ categoria_form.nombre.label }} </label>
                {{ categoria_form.nombre }}
                {% if categoria_form.nombre.errors %}
                    <div class="error"> {{ categoria_form.nombre.errors }}</div>
                {% endif %}
            </div>
            <div class="modal-actions">
                <button type="submit" class="btn-animated"> Guardar </button>
                <button type="button" id="cancel-modal-btn-categoria" class="btn-animated cancel"> Cancelar </button> 
            </div>
        </form>
    </div>
</div>

<!--Boton fuera del contenedor-->
<a href="{% url 'negocios:mantenimiento_negocios' %}" class="maintenance-button-fixed">
    Mantenimiento de elementos de negocios
</a>

{% endblock %}